---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  -clang-analyzer-deadcode.DeadStores,
  bugprone-*,
  cert-*,
  -cert-err58-cpp,
  concurrency-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-do-while,
  misc-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  -performance-avoid-endl,
  portability-*,
  readability-*,
  -cert-dcl59-cpp,
  -readability-identifier-length,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -cppcoreguidelines-narrowing-conversions,
  -readability-function-cognitive-complexity,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  -bugprone-exception-escape,
  -performance-inefficient-string-concatenation,
  -cppcoreguidelines-avoid-c-arrays,
  -modernize-avoid-c-arrays,
  -cppcoreguidelines-rvalue-reference-param-not-moved,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-union-access

WarningsAsErrors: '*'
HeaderFilterRegex: '.*didx509cpp\.h'
FormatStyle:     'file'